.quote-container-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: var(--font-base);
        font-weight: 500px;

        text-transform: uppercase;
        color: var(--darkGray-color);

        span {
            color: var(--secondary-color);  
        }
    }

    h4 {
        font-family: var(--font-body);
        font-weight: 400;
        color: #797979;
    }

    @media screen and (max-width: 1200px) {
        padding: 0.5rem 0;

        h1 {
            font-size: 40px;
        }
    }
}