.quote-main-form {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;

    h1 {
        font-family: var(--font-base);
        color: var(--blue-color);
        padding-bottom: 20px;
    }

    .form-section {
        display: flex;
        flex-direction: column;
        font-family: var(--font-body);
        color: var(--gray-color);
        width: 100%;
        margin-top: 10px;

        label {
            margin-bottom: 10px;
        }

        input {
            height: 50px;
            padding: 0 30px;
            width: 500px;
            font-family: var(--font-body);

            outline: none;
            border-radius: 25px;
            border: none;

            background: #f1f1f1;
        }
        
        select {
            height: 50px;
            padding: 0 30px;
            width: 500px;

            outline: none;
            border-radius: 25px;
            border: none;

            background: #f1f1f1;
            color: var(--gray-color);
        }

        .submit-btn {
            background-color: var(--blue-color);
            color: white;

            &:hover {
                background-color: #4e6bca;
                cursor: pointer;
            }
        }
        @media screen and (max-width: 1200px) {
            justify-content: center;
            align-items: center;

            input {
                width: 300px;
            }

            select {
                width: 300px;
            }
        }
    }

    @media screen and (max-width: 1200px) {
        justify-content: center;
        align-items: center;
    }
}