.main-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-family: var(--font-base);
        color: var(--blue-color);
    }

    a {
        text-decoration: none;
    }

    span {
        margin-left: 10px;

        svg {
            color: var(--blue-color);
            position: relative;
            top: 3px;
        }

    }

}