.features-main-container{
    padding: 7rem 4rem;
    // background: var(--blue-color);
}

.app__section-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--font-base);
    text-transform: uppercase;
    
    h1 {
        color: #313131;

        span {
            color: var(--secondary-color);
        }
    }

    @media screen and (max-width: 1200px) {
        padding: 3rem 2rem;

        h1 {
            font-size: 30px;
            text-align: center;
        }
    }
}

.app__cards {
    display: flex;
    flex-direction: row;
    padding: 1rem 4rem;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        padding: 0;
        
    }
}

.app__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 10px;
}