.expertise__desc {
    padding: 2rem 4rem;
    font-family: var(--font-body);
    color: var(--darkGray-color);
    
    line-height: 30px;
    text-align: justify;

    p {
        margin-bottom: 1rem;
    }
}