.why-main-container {
    padding: 7rem 0;
    // background: var(--blue-color);
}

.why__description {
    padding: 3rem 4rem;
    font-family: var(--font-body);
    color: var(--darkGray-color);

    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: justify;
}

.why-section-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--font-base);
    text-transform: uppercase;

    h1 {
        color: var(--darkGray-color);

        span {
            color: var(--secondary-color);
        }
    }

    @media screen and (max-width: 1200px) {
        .why-section-title {
            h1 {
                text-align: center;
            }
        }
    }
}