.wrapper {
    display: flex;
    // height: 100vh;
    // width: 500px;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 500px;

    .item {
        background: var(--secondary-color);
        margin-bottom: 5px;
        padding: 10px 20px;
        border-radius: 10px;

        .title {
            font-family: var(--font-base);
            color: white;

            display: flex;
            justify-content: space-between;
            align-items: center;

            cursor: pointer;

            h2 {
                font-size: 18px;
            }
        }

        .content {
            color: white;
            font-family: var(--font-base);
            font-size: 12px;
            text-align: justify;

            max-height: 0;
            overflow: hidden;
            transition: all 0.5s cubic-bezier(0,1,0,1);
        }

        .content.show {
            height: auto;
            max-height: 9999px;
            transition: all 0.5s cubic-bezier(1,0,1,0);

            padding-top: 10px;
        }
    }

    @media screen and (max-width: 1200px) {
        width: 350px;
    }
}